@media only screen and (max-width: 1210px) {
  .product_desc {
    padding-left: 36px;
    padding-right: 50px;
  }
}
@media only screen and (max-width: 1180px) {
  .product_desc {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media only screen and (max-width: 845px) {
  .product_desc {
    padding-left: 20px;
    padding-right: 20px;
  }
}
