@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Fira Sans";
}

.container {
  max-width: 1280px;
  padding: 0 20px;
  margin: auto;
}

@font-face {
  font-family: "Fira Sans";
  src: url(../../public/assets/font-family/FiraSans-Regular.ttf);
}

body{
  background: #F2F2F2;
}




